<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="gen">Forms Generator</title>
    <link rel="shortcut icon" href="../assets/shivom_logo.jpg" type="image/x-icon" />
  </head>
  <body>
    <h1>Shivom Form Generator</h1>
    <form action="/form" method="post">
      <select name="Form_Option" id="lang">
        <option value="Select Option" selected hidden disabled>Select language</option>
        <option value="DSE_Form">DSE Form</option>
        <option value="New_Employee">New Employee Form</option>
        <option value="test">Test</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
  

  </body>
</html>
    